<div class="md:col-offset-3 lg:col-offset-4 sm:col-12 md:col-6 lg:col-4">
    <p-card header="Login">
        <div class="grid">
            <div class="sm:col-12 md:col-12 lg:col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-user"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" id="inputgroup" pInputText>
                        <label for="inputgroup">Email</label>
                    </span>
                </div>
            </div>
            <div class="sm:col-12 md:col-12 lg:col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-lock"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="password" id="inputgroup" pInputText>
                        <label for="inputgroup">Password</label>
                    </span>
                </div>
            </div>
        </div>
    </p-card>
</div>